<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126311991437-s03j3cjr9id4as4siqcad1duvmv3pe97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126311991437-s03j3cjr9id4as4siqcad1duvmv3pe97</string>
	<key>API_KEY</key>
	<string>AIzaSyA0QSmFWS_UuVmg_K5KcpJ3RWsbaarDW_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>126311991437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-ac141</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ac141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126311991437:ios:53d3e495ff43b3097c3ac4</string>
</dict>
</plist>